<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>you have submited <%= session[:count] %> times</p>
	<p>Submited Infomation</p>
	<h3>Name: <%= session[:name] %></h3>
	<h3>Dojo Location: <%= session[:loc] %></h3>
	<h3>Faverite Laungue: <%= session[:lau] %></h3>
<a href="/">go back</a>
</body>
</html>