<h1>Listing 4 Dojos</h1>
<table>
	<tr>
		<th>Branch</th>
		<th>Street</th>
		<th>City</th>
		<th>State</th>
	</tr>
	<% @Dojos.each do |dojo| %>
	<tr>
	  <td><%= dojo.branch %></td>
	  <td><%= dojo.street %></td>
	  <td><%= dojo.city %></td>
	  <td><%= dojo.state %></td>
	  </tr>
	<% end %>

</table>
