<h1>New Student</h1>
<form>
	First Name: <input type="text" name="first_name">
	Last Name: <input type="text" name="last">
	Email: <input type="text" name="email">
	<select name="loc">
		<option></option>
	</select>
</form>